.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
}

.grid > :first-child {
	grid-column: span 2;
}

.composition {
	display: grid;
	gap: 2rem;
	grid-template-areas:
		"entete entete"
		"lateral principale"
		"pied pied";
	
	header {
		grid-area: entete;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		background-color: aqua;
	}

	aside {
		grid-area: lateral;
		min-width: 40ch;
	}

	main {
		grid-area: principale;
	}

	footer {
		grid-area: pied;
	}
}