/* ========
Reset
==========*/
* {
	margin: 0;
	padding: 0;
}

svg {
	max-width: 10ch;
}

body {
	padding: 6vw;
}

/* ========
nav
==========*/

nav {
	position: relative;
}

.nav-principale a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
}

.nav-principale a:hover {
	background-color: aqua;
}

/* style pour la nav desktop */
.nav-principale {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	align-items: center;
	justify-content: center;

	background-color: cadetblue;
	padding: 2rem;
}

[id="nav-bouton"] {
	display: none;
}

@media (max-width: 700px) {
	[id="nav-bouton"] {
		display: initial;
	}

	/* style pour la nav en mode mobile */
	.nav-principale {
		flex-direction: column;

		position: fixed;
		inset: 0;
		z-index: 10;
		/* inset = 0, c'est l'equivalent de top = 0, bottom = 0, right = 0, left = 0*/

		/*apparition avec opacité*/
		transition-property: opacity;
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}

		/* si etat du check box est coché, affiche nav, sinon affiche pas*/
	[id="nav-bouton"]:not(:checked) + .nav-principale {
		opacity: 0;
		pointer-events: none;
	}

	/*placer le check box + changer apparence*/
	[id="nav-bouton"] {

		appearance: none;
		cursor: pointer;

		position: relative;
		z-index: 20;

		position: absolute;
		right: 4vw;
		top: 1vw;
	}

	/*utilisation pseudo element => ajouter du contenu qui n'existe pas dans le html*/
	/* ::after -- pseudo contenu, ajoute a la fin du check box */
	[id="nav-bouton"]::after {
		content: "☰";
		font-size: 2rem;

		position: fixed;
	}

	/*changer l'apparence du checkbox lorsqu'il est checked aka lorsque le menu mobile est ouvert*/
	[id="nav-bouton"]:checked::after {
		content: "✖";
		font-size: 2rem;
	}

}

.test::after {
	content: "✖";
}

.test::before {
	content: "☰";
}
